<!-- <p>inicio works!</p> -->

<app-presentacion ></app-presentacion>
<div class="container mt-5 pt-5">
    <div class="row">
        <h2 class="text-center ">Nuestras expresiones</h2>
    </div>
    <div class="row">
        <div class="uk-child-width-1-2@m" uk-grid>

            <div>
                <div class="uk-card uk-card-default">
                    <div class="uk-card-media-top">
                        <img src="../../../assets/images/fondos/light.jpg" alt="">
                    </div>
                    <div class="uk-card-body">
                        <h3 class="uk-card-title">Mexizcal Coco</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                        <button class="uk-button uk-button-primary">Ver más</button>
                    </div>
                </div>
            </div>
            <div>
                <div class="uk-card uk-card-default">
                    <div class="uk-card-media-top">
                        <img src="../../../assets/images/fondos/light.jpg" alt="">
                    </div>
                    <div class="uk-card-body">
                        <h3 class="uk-card-title">Mexizcal Café</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                        <button class="uk-button uk-button-primary">Ver Más</button>
                    </div>
                </div>
            </div>
            <div>
                <div class="uk-card uk-card-default">
                    <div class="uk-card-media-top">
                        <img src="../../../assets/images/fondos/light.jpg" alt="">
                    </div>
                    <div class="uk-card-body">
                        <h3 class="uk-card-title">Mexizcal Cacao</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                        <button class="uk-button uk-button-primary"></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
      <div class="col-sm-4">
        <div class="uk-background-cover uk-height-medium uk-panel uk-flex uk-flex-center uk-flex-middle" style="background-image: url(../../../assets/images/inicio/nosotros.jpg);">
            <p class="uk-h4">Nosotros</p>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="uk-background-cover uk-height-medium uk-panel uk-flex uk-flex-center uk-flex-middle" style="background-image: url(../../../assets/images/inicio/cocteleria.jpg);">
            <p class="uk-h4">Coctelería</p>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="uk-background-cover uk-height-medium uk-panel uk-flex uk-flex-center uk-flex-middle" style="background-image: url(../../../assets/images/inicio/proceso.jpg);">
            <p class="uk-h4">Proceso</p>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="uk-background-cover uk-height-medium uk-panel uk-flex uk-flex-center uk-flex-middle" style="background-image: url(../../../assets/images/inicio/historia.jpg);">
            <p class="uk-h4">Proceso</p>
        </div>
      </div>
    </div>
  </div>
<!--

    <div class="uk-child-width-1-2@s uk-light" uk-grid>
    <div>
        <div class="uk-background-cover uk-height-medium uk-panel uk-flex uk-flex-center uk-flex-middle" style="background-image: url(../../../assets/images/inicio/nosotros.jpg);">
            <p class="uk-h4">Nosotros</p>
        </div>
    </div>
    <div>
        <div class="uk-background-contain uk-background-muted uk-height-medium uk-panel uk-flex uk-flex-center uk-flex-middle" style="background-image: url(images/dark.jpg);">
            <p class="uk-h4">Contain</p>
        </div>
    </div>
</div> 
 -->
