<!-- <p>presentacion works!</p> -->

<div class="container mt-5 pt-5">
    <div class="row">
        <div class="uk-child-width-expand@s uk-text-center" uk-grid>
            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <div>
                        <div class="uk-card uk-card-default uk-card-body">
                            <img src="../../../assets/images/fondos/dark.jpg" alt="">
                            <p>Proceso artesanal</p>
                        </div>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <div>
                        <div class="uk-card uk-card-default uk-card-body">
                            <img src="../../../assets/images/fondos/light.jpg" alt="">
                            <p>100% hecho de agave</p>
                        </div>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <div>
                        <div class="uk-card uk-card-default uk-card-body">
                            <img src="../../../assets/images/fondos/photo3.jpg" alt="">
                            <p>Molienda en Tahona</p>
                        </div>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <div>
                        <div class="uk-card uk-card-default uk-card-body">
                            <img src="../../../assets/images/fondos/photo.jpg" alt="">
                            <p>Ideal para la mixología</p>
                        </div>
                    </div>
                  </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
              </div>
        </div>
    </div>
</div>


<!-- <div>
    <div class="uk-card uk-card-default uk-card-body">
        <img src="../../../assets/images/fondos/light.jpg" alt="">
        <p>100% hecho de agave</p>
    </div>
</div>
<div>
    <div class="uk-card uk-card-default uk-card-body">
        <img src="../../../assets/images/fondos/photo3.jpg" alt="">
        <p>Molienda en Tahona</p>
    </div>
</div>
<div>
    <div class="uk-card uk-card-default uk-card-body">
        <img src="../../../assets/images/fondos/photo.jpg" alt="">
        <p>Ideal para la mixología</p>
    </div>
</div> -->